/*
Error: Undefined variable: "$table-bg-color".
        on line 7 of /home/rachael/projects/lifetracker/_scss/partials/_tables.scss
        from line 4 of _scss/partials/_manifest.scss
        from line 7 of _scss/light-theme.scss

2: 
3: @import "vendor/variables";
4: @import "partials/variables";
5: 
6: @import "vendor/manifest";
7: @import "partials/manifest";

Backtrace:
/home/rachael/projects/lifetracker/_scss/partials/_tables.scss:7
_scss/partials/_manifest.scss:4
_scss/light-theme.scss:7
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/rachael/.gem/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/rachael/.gem/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/rachael/.gem/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/rachael/.gem/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/rachael/.gem/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$table-bg-color\".\A         on line 7 of /home/rachael/projects/lifetracker/_scss/partials/_tables.scss\A         from line 4 of _scss/partials/_manifest.scss\A         from line 7 of _scss/light-theme.scss\A \A 2: \A 3: @import \"vendor/variables\";\A 4: @import \"partials/variables\";\A 5: \A 6: @import \"vendor/manifest\";\A 7: @import \"partials/manifest\";"; }
