# This is the SAMPLE configuration file for LifeTracker.
# You should not edit this file directly!
# To make changes to LifeTracker's settings, edit 'config.cson'. If that file
# does not exist or if you want to revert it to the default version, COPY this
# file to 'config.cson', but keep this one as a backup.

theme: "dark"

# Specify the order you want columns to appear in the data display. Any columns
# not specified will be added at the end.
dataColumnOrder: ["start", "end", "when", "title", "category"]
