@charset 'UTF-8';

// The main is loaded at the end.
@import "../../_base/_config";

/******************
 * Set variables. *
 ******************/
// Background colors
$body-bg-color: color("grey", "darken-3");
$accent-color: color("teal", "lighten-1");
$positive-color: color("green", "darken-1");
$alert-color: color("amber", "darken-3");

// Text colors
$text-color: color("grey", "lighten-1");
$accent-text-color: $text-color;

/**************************************************************************
 * Custom (s)css, mostly setting colors by extending materialize classes. *
 **************************************************************************/
.window {
    // background-color: #232326;
    @extend .grey, .darken-4, .grey-text, .text-lighten-1;
}

.sidenav, .sidenav li.active {
  @extend .grey, .darken-3, .grey-text, .text-lighten-1;
}

.form-control, .btn-default {
    background-color: color("grey", "darken-3");
    @extend .grey-text, .text-lighten-1;
}
tbody {
    @extend .grey, .darken-4;
}

.window-content {
    border-top: 1px solid #0a0a0a;
}


@import "../../application";
