#data-display {
  margin: 1em;
  // overflow-x: scroll;
}

#data-display td {
  position: relative;
}

#filter .card {
  background-color: $card-bg;
  color: $card-text-color;
  padding: 5px;
}

#data-table a.tag {
  color: $text-color;
  text-decoration: underline;
}

.dynatable-per-page div.select-wrapper {
  display: inline-block;
  margin-left: 5px;
  width: 55px;
}

#csv-btn-wrapper {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
