%btn {
  @extend .waves-effect, .waves-light;
  background-color: $button-color;
  color: $button-text-color;
  font-size: $button-font-size;

  &:hover {
    background-color: $button-hover-color;
  }
}

.submit-btn {
  @extend %btn, .right;
}

label, label.active, .input-field > label {
  font-size: 1.2rem;
}

.form-control {
  background-color: $body-bg-color;
  color: $text-color;
}

.form-group {
  margin-top: 2em;
}

input::placeholder {
  color: $dim-text-color;
}

input[type=range] {
  display: block;
  width: 80%;
  margin: 1em auto 1.5em;

  .value {
    color: $accent-color;
  }

  &::-webkit-slider-runnable-track {
    background-color: $range-track-color;
    height: $range-track-height;
  }

  &::-webkit-slider-thumb {
    background-color: $range-thumb-color;
    height: $range-thumb-height;
    width: $range-thumb-width;
  }
}

#submit-message {
  color: $submit-message-color;
}

#submit-message {
  color: $submit-message-color;
  font-weight: bold;
}

#submit-message .hide {
  animation: fadeout 0.4s linear;
  -webkit-animation: fadeout 0.4s;
}

#submit-message .hidden {
  visibility: hidden;
}

#submit-message .show {
  animation: fadein 0.8s linear;
  -webkit-animation: fadein 0.8s;
}

#submit-message .shown {
  visibility: visible;
}


.form-group p {
  margin-top: 1em;
  margin-left: 0;
}

fieldset {
  border-radius: 5px;
}

