.sidenav {
  background-color: $body-bg-color;
  color: $text-color;
}

.sidenav li > a, .sidenav .collapsible-header {
  padding: 0 16px 0 20px;
  font-size: $font-size;
}

.sidenav .nav-btn a {
  padding-left: 20px;
}

#home-menu {
  background-color: $contrast-bg-color;
}

#sidebar {
  // width: 20%;
  width: 300px;
}

.sidenav li.active {
  background-color: $active-dropdown-color;
}

.sidenav .collapsible-body {
  background-color: $body-bg-color;
}

.sidenav li.current {
  background-color: $current-sidenav-bg-color;
  
  a {
    color: $current-sidenav-text-color;
  }
}
