.sidenav {
  background-color: $body-bg-color;
  color: $text-color;
}

.sidenav li > a {
  padding: 0 16px;
}

#sidebar {
  width: 20%;
  // width: 300px;
}

.sidenav li.active {
  background-color: $active-dropdown-color;
}

div.colapsible-body {
  background-color: $body-bg-color;
}
