@charset 'UTF-8';

// Background colors
$body-bg-color: color("grey", "darken-3") !default;
$accent-color: color("teal", "lighten-1") !default;
$positive-color: color("green", "darken-1") !default;
$alert-color: color("amber", "darken-3") !default;

// Text colors
$text-color: color("grey", "lighten-1") !default;
$accent-text-color: $text-color !default;
$dim-text-color: color("grey", "base") !default;
$submit-message-color: color("red", "darken-3") !default;

// Specifics
// Buttons
$button-color: $accent-color !default;
$button-text-color: $accent-text-color !default;
$button-font-size: 1.2rem !default;

// Sidenav
$active-dropdown-color: color("grey", "darken-3");

// Window
$window-border-color: #0a0a0a;
