// Some named colors
$off-black: #0a0a0a;

// Background colors
$body-bg-color: color("grey", "darken-4");
$accent-color: color("cyan", "darken-1");
$contrast-bg-color: color("grey", "darken-3");
$positive-color: color("green", "darken-1");
$alert-color: color("amber", "darken-3");
$neutral-color: $body-bg-color;

// Text colors
$text-color: color("grey", "lighten-1");
$accent-text-color: $off-black;
$dim-text-color: color("grey", "base");
$submit-message-color: color("red", "darken-3");
$neutral-text-color: $text-color;

// Specifics
// Window
$font-family: "Roboto", "Arial", sans-serif;
$window-border-color: $off-black;
$font-size: 1.1rem;

// Sidenav
$active-dropdown-color: $contrast-bg-color;
$current-sidenav-bg-color: $accent-color;
$current-sidenav-text-color: $accent-text-color;

// Tables
$table-bg-color: color("grey", "darken-4");

// Forms
// Buttons
$button-color: $accent-color;
$button-text-color: $accent-text-color;
$button-font-size: 1.4rem;
$button-side-padding: 1.5rem;
$button-top-bottom-padding: 0.2rem;
$button-hover-color: color("cyan", "lighten-1");

// Text input
$input-focus-color: $accent-color;

// Range
$range-track-color: color("grey", "darken-2");;
$range-border-color: $contrast-bg-color;
$range-thumb-color: $accent-color;
$range-track-height: 3px;
$range-thumb-height: 20px;
$range-thumb-width: $range-thumb-height;
